<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <title>URL - TinyApp Example</title>
</head>
<body>
  <%- include('partials/_header', {user: user}) %>
  <div class="card text-center">
    <div class="card-header"></div>
    <div class="card-body" style="padding: 0px; padding-top: 1.25rem">
      <h5 class="card-title">TinyURL for: <%= longURL %></h5>
      <p class="card-text">
        Short URL ID: <a href="/u/<%= id %>"><%= id %></a>
      </p>
      <div class="edit-body" style="background-color: rgba(0,0,0,.03);">
        <div class="card text-center">
          <p style="color: rgb(122, 119, 119); font-size: 30px;"><strong>Edit</strong></p>
          <main style="margin: 1em;">
            <form class="form-inline justify-content-center" method="POST" action="/urls/<%= id %>">
              <p style="color: grey; font-size: 15px;">
                <label for="longURL">New URL:</label>
                <input class="form-control" type="url" name="longURL" placeholder="http://" style="width: 300px; margin: 1em" required />
                <button type="submit" class="btn btn-primary">Submit</button>
              </p>
            </form>
          </main>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO
